@page
@model PortfolioWeb.Pages.Projects.Upcoming.IndexModel
@{
}
<h1>Upcoming Project</h1>
<br />
<div style="text-align:center">
    <h2 class="text-info">Lawn & Landscape On Point LLC</h2>
    <img style="height:350px; border-radius: 1%; margin-left: 60px" src="~/images/lawnscape.jpg" />
</div>
<br />
<div>
    <p>Lawn & Landscape On Point LLC is a business owned by my cousin in law, 
        Oscar Uribe. He has found a lot of success in Lawn and Landscaping 
        but is looking to expand his business both in employees and technology.
        Along with my brother who is pursuing marketing, we would like to help
        Oscar to achieve his goals while building our portfolios. The plan is to
        create a website where customers can view information and examples of the
        services provided by the On Point business. Along with this, the ability
        to book online will open the door to new clients which is what Oscar is
        looking for. Their <a href="https://www.facebook.com/profile.php?id=61556710452695">
        Facebook page</a> is their only online presence and the business has mostly
        relied on word of mouth for new customers. We hope to realize Oscar's goals and
        create something of value to Lawn & Landscape On Point.
    </p>
</div>
<br />